@import url('./reset.css');


/* ==============HEADER====================== */

.header.container{
    max-width: 375px;
    padding: 20px 20px 48px 20px;
    background-color: #576f35;
}
.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav{
    display: none;
}
.logo{
    fill: #fbfbfb;
}
.ham-mob{
    line-height: 0;
    fill: #fbfbfb;
}

@media screen and (min-width:768px) {
    .header.container{
        max-width: 768px;
        padding: 32px 32px 48px 32px;
    }
}

@media screen and (min-width:1280px) {
    .header-section{
        display: flex;
        justify-content: center;
    }
    .header.container{
        position: absolute;
        width: 100%;
        padding-top: 47px;
        padding-left: 100px;
        padding-right: 100px;
        background-color: transparent;
        max-width: 1280px;
    }
    .header-wrap {
        display: flex;
        justify-content: space-between;   
    }
    .ham-mob{
        display: none;
    }
    .header-nav{
        display: flex;
        gap: 8px;
    }
        .header-nav-link {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.25;
            text-align: center;
            color: #fbfbfb;
            border: 1px solid #fbfbfb;
            border-radius: 12px;
            padding: 12px;
            height: 44px;
    
            transition: color 250ms, background-color 250ms;
        }
    
        .header-nav-link:hover,
        .header-nav-link:focus {
            border: 1px solid #d4bfc4;
            border-radius: 12px;
            color: #7a3145;
            background-color: #d4bfc4;
        }
    
        .nav-link-btn {
            margin-left: 16px;
            font-weight: 600;
            font-size: 18px;
            line-height: 1.11111;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            color: #fbfbfb;
            border-radius: 30px;
            padding: 16px 28px;
            width: 157px;
            height: 52px;
            background-color: #7a3145;
    
            transition: color 250ms, background-color 250ms;
        }
    
        .nav-link-btn:hover,
        .nav-link-btn:focus {
            color: #7a3145;
            background-color: #d4bfc4;   
        }
}

/* ==============HERO=========================== */


.hero.container{
    max-width: 375px;
    padding-right: 32px;
    padding-left: 32px;
    background-color: #576f35;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-title{
    font-weight: 600;
    font-size: 52px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 20px;
}
.hero-txt{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    color: #fbfbfb;
    margin-bottom: 40px;
}
.hero-img{
    width: 375px;
    background-image: url(../img/mob/hero.jpg);
}
@media screen and (min-width:768px) {
    .hero.container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .hero-title{
        font-size: 76px;
    }
    .hero-txt{
        width: 603px;
        font-size: 16px;
        line-height: 1.25;
    }
    .hero-img {
        width: 768px;
        background-image: url(../img/tab/hero.jpg);   
    }
}

@media screen and (min-width: 1280px) {
    .hero.container{
        max-width: 1280px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding-right: 0;
        padding-left: 100px;
    }
    .hero-title{
        width: 502px;
        margin-bottom: 128px;
    }
    .hero-txt{
        width: 472px;
        margin-bottom: 52px;
    }
    .hero-img{
        width: 640px;

    }
}

/* ===================HIW=========================== */

.hiw.container{
    max-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.how-img{
    width: 100%;
    background-color: #7a3145;
    padding: 40px 20px;
}
.how-pic{
    display: inline-block;
    border-radius: 30px;
}
.how-wrap{
    padding: 40px 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #576f35;
}
.how-title{
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 20px;
}
.how-span{
    color: #d4bfc4;;
}
.how-txt{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    color: #fbfbfb;
    margin-bottom: 40px;
}
.how-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.how-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 12px 24px;
    background-color: #fbfbfb;
}
.how-item-txt{
    width: 208px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    color: #858585;
}
.how-list-span{
    font-weight: 700;
    color: #141414;
}
@media screen and (min-width: 768px) {
    .hiw.container{
        max-width: 768px;
    }
    .how-img{
        padding: 100px 64px;
    }
    .how-wrap{
        padding: 100px 164px;
    }
    .how-title{
        font-size: 32px;
        margin-bottom: 24px;
    }
    .how-txt{
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 52px;
    }
    .how-item-txt{
        width: 325px;
        font-size: 16px;
        line-height: 1.25;
    }
}

@media screen and (min-width: 1280px) {
    .hiw.container{
        max-width: 1280px;
        flex-direction: row;
    }
    .how-img{
        padding: 100px;
    }
    .how-wrap{
        padding: 100px;
    }
    .how-txt {
        margin-bottom: 105px;
    }
    .how-list{
        gap: 24px;
    }
}
/* =================AD=========================== */

.ad.container{
    max-width: 375px;
    padding: 80px 20px;
}
.ad-title {
        font-weight: 600;
        font-size: 48px;
        line-height: 1.08;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #141414;
}

.ad-span {
    display: block;
    border-radius: 12px;
    background-color: #576f35;
    color:#fbfbfb
}
@media screen and (min-width: 768px) {
    .ad.container{
        max-width: 768px;
        padding: 100px 32px;
    }
    .ad-title{
        width: 675px;
        font-size: 64px;
    }
}
@media screen and (min-width: 1280px) {
    .ad.container{
        max-width: 1280px;
        padding: 100px;
        background-color: #fbfbfb;
    }
    .ad-title{
        width: 1080px;
        height: 228px;
        font-size: 76px;
    }
    .ad-span{
        width: 808px;
    }
}
/* =====================VEGS================== */

.veg.container{
    max-width: 375px;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: #7a3145;
}

.veg-top-wrap {}

.veg-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 20px;
}

.veg-title-span {
    color: #d4bfc4;
}

.veg-txt {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #fbfbfb;
}

.veg-card-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.veg-card-item {
    border-radius: 40px;
    padding: 32px 24px;
    width: 335px;
    background-color: #fbfbfb;
}

.veg-name {    
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #7a3145;
}

.veg-price {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #141414;
}
@media screen and (min-width: 768px) {
    .veg.container{
        max-width: 768px;
        padding: 100px 32px;
        gap: 52px;
    } 
    .veg-title{
        width: 508px;
        font-size: 64px;
        line-height: 1;
        margin-bottom: 24px;
    }
    .veg-txt{
        width: 626px;
        font-size: 16px;
        line-height: 1.25;
    }
    .veg-card-list{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 28px;
        column-gap: 24px;
    }
    .veg-name{
        font-size: 32px;
    }
    .veg-price{
        font-size: 16px;
    }
}
@media screen and (min-width: 1280px) {
    .veg.container{
        max-width: 1280px;
        padding: 100px;
        align-items: flex-start;
    }
}

/* ======================REVS===================== */

.rev.container {
    max-width: 375px;
    padding: 80px 20px;
}

.rev-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
    margin-bottom: 20px;
}

.rev-title-span {
    color: #576f35;
}

.rev-txt {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #141414;
    margin-bottom: 40px;
}

.rev-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.rev-item {
    border: 1px solid #d4bfc4;
    border-radius: 24px;
    padding: 20px;
    width: 340px;
    height: 248px;
    background-color: #fbfbfb;
}

.rev-img {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
}

.rev-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #141414;
    margin-bottom: 8px;
}

.rev-par {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: #858585;
}
@media screen and (min-width: 768px) {
    .rev.container{
        max-width: 768px;
        padding: 100px 32px;
    }
    .rev-title{
        width: 552px;   
        font-size: 64px;
        line-height: 1;
        margin-bottom: 24px;
    }
    .rev-txt{
        width: 552px;
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 52px;
    }
    .rev-list{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .rev-par{
        font-size: 16px;
        line-height: 1.25;
    }
}
@media screen and (min-width: 1280px) {
    .rev.container{
        max-width: 1280px;
        padding: 100px;
    }

}

/* ===================ORDER================== */

.order.container {
    max-width: 375px;
    padding: 80px 20px;
    background-color: #576f35;
}

.order-title {   
    font-weight: 600;
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 20px;
}

.order-title-span {
    color: #d4bfc4;
}

.order-txt {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #fbfbfb;
    margin-bottom: 40px;
}

.order-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 30px;
    padding: 40px 20px;
    background-color: #fbfbfb;
}

.order-form-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
    margin-bottom: 40px;
}

.form-span-red {
    color: #7a3145;
}

.form-span-green {
    color: #576f35;
}

.form-input {
    border: 1px solid #858585;
    border-radius: 30px;
    padding: 16px 20px;
    height: 48px;
}

.form-comment {
    border: 1px solid #858585;
    border-radius: 15px;
    padding: 16px 20px;
    height: 92px;
    resize: none;
    overflow: hidden;
}
.form-input::placeholder,
.form-comment::placeholder{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: left;
    color: #141414;
}
.form-input:not(:placeholder-shown):valid {
    border-color: #3CBC81;
}

.form-input:not(:placeholder-shown):invalid {
    border-color: #E74A3B;
}

.form-btn {
    border-radius: 30px;
    padding: 16px 128px;
    height: 52px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    background-color: #7a3145;
}

.order-img-wrap {
    border-radius: 30px;
        padding: 40px 20px;
        height: 456px;
        background-color: #7a3145;
    }

.order-pic{
    display: block;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
}

.order-soci-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    color: #d4bfc4;
    margin-bottom: 16px;
}

.order-soci-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.order-soci-item {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
}


@media screen and (min-width: 768px) {
    .order.container{
        max-width: 768px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .order-title{
        padding-left: 32px;
        width: 640px;
        font-size: 64px;
        line-height: 1;
        margin-bottom: 24px;
    }
    .order-txt{
        padding-left: 32px;
        width: 640px;
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 52px;
    }
    .order-wrap{
        align-items: center;
        gap: 32px;

    }
    .order-form{
        width: 640px;  
        padding: 72px 100px;
    }
    .order-form-title{
        font-size: 32px;
        margin-bottom: 52px;
    }
    .form-input{
        height: 52px;
    }
    .form-comment{
        height: 96px;
    }
    .form-btn{
        width: 440px;
    }
    .order-img-wrap{
        height: 528px;
        padding: 52px;
    }
    .order-pic{
        width: 536px;
        margin-bottom: 52px;
    }
    .order-soci-title{
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 16px;
    }
}   

@media screen and (min-width: 1280px) {
    .order.container{
        max-width: 1280px;
        padding: 100px;
    }
    .order-title{
        width: 752px;
        padding-left: 0;
    }
    .order-txt{
        width: 752px;
        padding-left: 0;
    }
    .order-wrap{
        flex-direction: row;
    }
    .order-form{
        padding: 52px 48px;
    }
    .order-img-wrap{
        padding: 52px 48px; 
        height: 592px;
    }
    .order-pic{
        width: 428px;
        margin-bottom: 80px;
    }
}

/* ==========FOOTER=============== */

 .footer.container {
    max-width: 375px;
    padding: 40px 20px;
    background-color: #7a3145;
 }

.footer.logo {
    margin-bottom: 14px;
}

.footer-txt {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #fbfbfb;
    margin-bottom: 40px;
}

.footer-nav-wrap {}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 40px;
}

.footer-nav-link {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
}

.footer-conts {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 80px;
}

.footer-cont-link {    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42857;
    color: #fbfbfb;
}

.footer-crap-list {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

.footer-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    color: #d4bfc4;
}

.footer-mark {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.42857;
        color: #d4bfc4;
}

@media screen and (min-width: 768px) {
    .footer.container{
        max-width: 768px;
        padding: 32px;
    }
    .footer.logo{
        margin-bottom: 24px;
    }
    .footer-top-wrap {
        display: flex;
        justify-content: space-between;
    }

    .footer-txt{
        width: 265px;
        font-size: 16px;
        line-height: 1.25;

    }
    .footer-nav-wrap {
            width: 228px;
    }
    .footer-nav{
        gap: 24px;
        margin-bottom: 64px;
    }
    .footer-conts{
        gap: 24px;
        margin-bottom: 100px;
    }
    .footer-bottom-wrap {
        display: flex;
        justify-content: space-between;
    }
    .footer-link{
        font-size: 16px;
    }
    .footer-mark{
        font-size: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .footer.container{
        max-width:  1280px;
        padding: 52px 100px;
    }
    .footer-top-wrap{
       margin-bottom: 120px;
    }
    .footer-nav-wrap{
        width: 564px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 120px;
        margin-bottom: 0;
    }
    .footer-nav{
        margin-bottom: 0;
    }
    .footer-conts{
     margin-bottom: 0;
    }
    .footer-crap-list{
        margin-bottom: 0;
    }
}

/* =============MOB-MENU==================== */

.menu-overlay{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color:rgba(20, 20, 20, 0.4);

    opacity: 0;
    pointer-events: none;

}

.menu-overlay.is-open{
    opacity: 1;
    pointer-events: all;
}

.menu {
    width: 375px;
    height: 100%;
    padding-top: 296px;
    padding-bottom: 52px;
    background-color: #576f35;
}
.menu-close {
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 0;
}
.menu-nav-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.menu-nav{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu-nav-link {
    border: 1px solid #fbfbfb;
    border-radius: 12px;
    padding: 12px;
    width: 120px;
    height: 44px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: #fbfbfb;

    transition: color 250ms, background-color 250ms;
}
.menu-nav-link:hover,
.menu-nav-link:focus {
    border: 1px solid #d4bfc4;
    border-radius: 12px;
    color: #7a3145;
    background-color: #d4bfc4;
}
.menu-nav-btn{
    border-radius: 30px;
    padding: 16px 40px;
    background-color: #7a3145;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;

    transition: color 250ms, background-color 250ms;
}
.menu-nav-btn:hover,
.menu-nav-btn:focus {
    color: #7a3145;
    background-color: #d4bfc4;
}

@media screen and (min-width: 768px) {
    .menu-overlay{
        justify-content: flex-end;
    }
    .menu{
        max-width: 352px;
    }
}